{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Medino</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png'%}" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/animate-3.7.0.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome-4.7.0.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-4.1.3.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery.datetimepicker.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/linearicons.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
</head>
<body dir="rtl">
    
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
    <header class="header-area">
        <div id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="{% url 'home:home_ar' %}"><img src="{% static 'assets/images/logo/logo.png'%}"  alt="" title="" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="{% url 'home:home_ar' %}" >الصفحة الرئيسية</a></li>
                        <li><a href="{% url 'departments:departments_ar' %} "> اسعافات اوليه</a></li>
                        <li><a href="{% url 'doctors:doctors_ar' %} ">اطباء</a></li>
                        <li ><a href="{% url 'blog:blog_home_ar' %} ">مقالات</a>
                        <li ><a href="{% url 'illnesses:illnesses_home_ar' %} ">امراض</a>

                        <li ><a href="{% url 'book:book_ar' %} ">كتب</a>
                        </li>
                        <li><a href="{% url 'contact:contact_ar' %} ">تواصل معنا</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'account:logout' %}">تسجيل خروج</a></li>
                        <li><a href="{% url 'account:profile' %} " class="fa fa-user">الصفحة الشخصية</a></li>
                        {% else %}
                        <li class="menu-has-children"><a href="">تسجيل</a>
                            <ul>
                                <li><a href="{% url 'account:login_ar' %} ">تسجيل دخول</a></li>
                                <li><a href="{% url 'account:signin_ar' %} ">اشتراك</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li class="menu-has-children" ><a href="" class="fa fa-language">اللغة</a>
                            <ul>
                                <li><a href="{% url 'home:home_ar' %} " >ar</a></li>
                                <li><a href="{% url 'home:home' %} " class="fa fa-us">en</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- #nav-menu-container -->
                </div>
            </div>
        </div>
    </header>

    <!-- Banner Area Starts -->
    <section class="banner-area other-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <h1>الامراض</h1>
                    <a href="{% url 'home:home_ar' %} ">الصفحة الرئيسية</a> <span>|</span> <a href="{% url 'illnesses:illnesses_home_ar' %} ">الامراض</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->
    <br><br>
    <div class="row">
        <div class="col-lg-12 text-right">
            <div class="doctor_filter white-bg">
                <div class="form_inner white-bg">
                    <center>
                    <form method="get">
                        {{myfilter.form}}
                        <button type="submit" class="template-btn">بحث</button>
                    </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <!--================Blog Categorie Area =================-->
    <section class="blog_categorie_area">
        <div class="container">
            <div class="row">
                {% for ill in illnesses %}
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-right">
                    <div class="categories_post">
                        <img src="{{ill.image.url}}" height="250" width="350" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="{% url 'illnesses:illnesses_details' ill.slug %} "><h5>{{ill.illness_name}}</h5></a>
                                <div class="border_line"></div>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                
            </div>
        </div>
    </section>
    <!--================Blog Categorie Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                {% for ill in illnesses %}
                <div class="col-lg-10">
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">
                          <div class="col-lg-3  col-md-3">
                              <div class="blog_info text-right">
                                    <ul class="blog_meta list">
                                        <li><a href="#">{{ill.create_by}}<i class="fa fa-user-o"></i></a></li>
                                        <li><a href="#">{{ill.create_at|date:'d M o'}}<i class="fa fa-calendar-o"></i></a></li>
                                    </ul>
                                </div>
                           </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img src="{{ill.image.url}}" alt="" width="550px" height="300">
                                    <div class="blog_details">
                                        <a href="{% url 'illnesses:illnesses_details_ar' ill.slug %} "><h4>{{ill.illness_name}}</h4></a>
                                        <p>{{ill.Symptoms}}</p>
                                        <a href="{% url 'illnesses:illnesses_details_ar' ill.slug %}" class="template-btn">View More</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        
                    </div>
                </div>
                {% endfor %}
                
    <!--================Blog Area =================-->
    
</div>
</div>
</section>
                    {% if illnesses.has_other_pages %}
                    <nav class="blog-pagination justify-content-center d-flex text-right">
                        <ul class="pagination">
                    {% if illnesses.has_previous %}
                        <li class="page-item">
                            <a href="?page={{illnesses.previous_page_number}}" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">
                                    <span class="fa fa-angle-right"></span>
                                </span>
                            </a>
                        </li>
                    {% endif %}

                    {% for i in illnesses.paginator.page_range %}
                        {% if illnesses.number == i %}
                            <li class="page-item active"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                            {% else %}
                            <li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if illnesses.has_next %}
                        <li class="page-item">
                            <a href="?page={{illnesses.next_page_number}}" class="page-link" aria-label="Next">
                                <span aria-hidden="true">
                                    <span class="fa fa-angle-left"></span>
                                </span>
                            </a>
                        </li>
                    {% endif %}

                    </ul>
                    </nav>
                    {% endif %}

   
    <!-- Footer Area Starts -->
    <footer class="footer-area section-padding">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-3">
                        <div class="single-widget-home mb-5 mb-lg-0">
                            <h3 class="mb-4"><u>Medino </u></h3>
                            <ul>
                                <li class="mb-2"><a href="{% url 'home:about_ar' %} ">About Us</a></li>
                                <li class="mb-2"><a href="{% url 'contact:contact_ar' %} ">Contact US</a></li>
                                <li class="mb-2"><a href="{% url 'home:home_ar' %} ">home</a></li>
                                <li class="mb-2"><a href="{% url 'book:book_ar' %} ">books</a></li>
                                <li class="mb-2"><a href="{% url 'departments:departments_ar' %} ">First-Aid</a></li>
                                <li><a href="{% url 'doctors:doctors_ar' %} ">Doctors</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-5 offset-xl-1 col-lg-6">
                        <div class="single-widget-home mb-5 mb-lg-0">
                            <h3 class="mb-4">Are You A Doctor ?</h3>
                            <p class="mb-4">  <li class="mb-2"><a href="{% url 'doctors:doctors_ar' %} ">see medino doctors</a></li></p>
                            <form action="#">
                                <input type="email" placeholder="Your email here" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Enter Your email here'" required>
                                <button type="submit" class="template-btn">save</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-3 offset-xl-1 col-lg-3">
                        <div class="single-widge-home">
                            <h3 class="mb-4">instagram feed</h3>
                            <div class="feed">
                                <img src="{% static 'assets/images/doctor5.jpg'%}" alt="feed">
                                <img src="{% static 'assets/images/doctor3.jpg'%}" alt="feed">
                                <img src="{% static 'assets/images/doctor4.jpg'%}" alt="feed">
                                <img src="{% static 'assets/images/doctor1.jpg'%}" alt="feed">
                                <img src="{% static 'assets/images/doctor2.jpg'%}" alt="feed">
                                <img src="{% static 'assets/images/doctor6.jpg'%}" alt="feed">
                                <img src="{% static 'assets/images/OIP (2).jpg'%}" alt="feed">
                                <img src="{% static 'assets/images/OIP (3).jpg'%}" alt="feed">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-6">

                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="social-icons">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->


    <!-- Javascript -->
    <script src="{% static 'assets/js/vendor/jquery-2.2.4.min.js'%}"></script>
	<script src="{% static 'assets/js/vendor/bootstrap-4.1.3.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/wow.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/owl-carousel.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/jquery.datetimepicker.full.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/jquery.nice-select.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/superfish.min.js'%}"></script>
    <script src="{% static 'assets/js/main.js'%}"></script>

</body>
</html>
